@import "../../../App.scss";

.figure-img {
    z-index: -1;
    top: 400px;
}

main {
    font-size: 0.5rem;
}

.carousel .carousel-item {
  border: none !important;
}

@include media-breakpoint-up(sm) {
    main {
      font-size: 1rem;
    }
    .figure-img {
      top: 100px;
    }
    .landing-container {
      width: 30vw;
    }
    .proyecto-hermes {
      display: flex;
      flex-direction: row;
    }
    .como-funciona-hermes {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
}