// (Required) Import Bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$primary: #F07E8C;
// $secondary: green;
// $my-color: red;

$theme-colors: (
  primary: $primary,
  // secondary: $secondary,
  // my-color: $my-color
);

$input-bg: $gray-400;

$navbar-nav-active-color: blue;

// Add below your SASS or CSS code

// (Required) Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";